body > table{
    width: 100%;
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h3 {
    color:blue;
    text-align: center;
}

#list, #form {
    text-align: center;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #20dfcf;
}

input[type=text], input[type=number], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: blue;
    
}

input[type=submit]{
    width: 100%;
    background-color: rgb(89, 109, 223);
    color: #fff;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}